body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
    background-color: #000;
}

.pagina{
    text-align: center;
    color: rgb(204, 200, 200);
    text-shadow: 1px 1px 2px #fff;
}

.container{
    padding: 80px;
    
    }

button{
    color: #fff;
    font-size:20px;
    padding:5px;
    background-color: rgba(9, 156, 100, 0.705);
    text-shadow: 0 0 1px #000;

}

.buscar{
    padding:6px;
    box-shadow: 0 0 2px #fff;
}

.busqueda{
    float:right;
    padding: 25px;
}

.afuera{
    padding:15px;
    display: inline-block;
}

.box{
    
    padding: 20px;
    width:300px;
    height:400px;
    overflow: hidden;
    background-color:#fff;
    box-shadow:  1px 1px #777;

}

.titulo {
    color: rgb(182, 34, 41);
    
}

#calificacion{
    color: rgb(184, 181, 28)
}